In [3]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep = '/', end = ' ')
print(hour, minute, second, sep = ':')

2000/10/27 11:43:59

In [7]:
year, month, day, hour, minute, second = input().split()

print(year, month, day, sep = '-', end = 'T')
print(hour, minute, second, sep=':')

1999 12 31 10 21 37
1999-12-31T10:21:37

In [8]:
korean = 92
english = 47
mathematics = 86
science = 81
 
print(korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50)

False

In [10]:
a, b, c, d = map(int, input().split())
print(a >= 90 and b > 80 and c > 85 and d >= 80)

90 81 86 80
True

In [11]:
s = '''Python is a programming language that lets you work quickly
and
integrate systems more effectively.'''

print(s)

Python is a programming language that lets you work quickly
and
integrate systems more effectively.

In [12]:
s = """'Python' is a \"programming language\"
that lets you work quickly
and
integrate systems more effectively."""
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [15]:
a = list(range(5, -10, -2))         
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [19]:
a = int(input())
b = tuple(range(-10, 10, a))
print(b)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [20]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
 
print(year[5:])
print(population[5:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [22]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
 
print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [24]:
x = input().split()
del x[-5:]
print(tuple(x))

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

In [25]:
a = input()
b = input()
print(a[1::2] + b[::2])

python
python
yhnpto

In [26]:
camille = {
    'health': 575.6,
    'health_regen': 1.7,
    'mana': 338.8,
    'mana_regen': 1.63,
    'melee': 125,
    'attack_damage': 60,
    'attack_speed': 0.625,
    'armor': 26,
    'magic_resistance': 32.1,
    'movement_speed': 340
}
 
print(camille['health'])
print(camille['movement_speed'])

575.6
340

In [29]:
a = input().split()
b = map(float, input().split())
print(dict(zip(a, b)))

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [ ]:
a = int(input())
b = input()
if b == 'Cash3000' :
    print(a - 3000)
elif b == 'Cash5000' :
    print(a - 5000)

In [30]:
written_test = 75
coding_test = True
 
if written_test >= 80 and coding_test == True:
    print('합격')
else:
    print('불합격')

불합격

In [32]:
a, b, c, d = map(int, input().split())
ave = (a + b + c + d) / 4
if not 0 <= a <= 100 or  not 0 <= b <= 100 or  not 0 <= c <= 100 or not 0 <= d <= 100 :
    print('잘못된 점수')
elif ave >= 80 :
    print('합격')
else :
    print('불합격')

99 85 101 90
잘못된 점수

In [33]:
x = int(input())
if 11 <= x <= 20 :
    print('11 ~ 20')
elif 21 <= x <= 30 :
    print('21 ~ 30')
else :
    print('아무것도 해당하지 않음')

45
아무것도 해당하지 않음

In [36]:
age = int(input())
balance = 9000  

if 7 <= age <= 12 :
    balance -= 650
elif 13 <= age <= 18 :
    balance -= 1050
elif 19 <= age :
    balance -= 1250
    
print(balance)

12
8350

In [38]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x :
    print(i * 10, end = ' ')

490 -170 250 1020 80 620 210

In [41]:
a = int(input())
for i in range(1, 10) :
    print(a, '*', i, '=', a * i)

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [43]:
i = 2
j = 5

while 32 >= i or 1 <= j :      
    print(i, j)
    i *= 2
    j -= 1

2 5
4 4
8 3
16 2
32 1

In [44]:
a = int(input())
while a - 1350 >= 0 :
    a -= 1350
    print(a)

10000
8650
7300
5950
4600
3250
1900
550

In [47]:
i = 0
while True:
    if i % 10 != 3 :
        i += 1
        continue
    if i >73 :
        break
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73

In [48]:
for i in range(5):
    for j in range(5):
        if j >= i :
            print('*', end = '')
        elif j < i :
            print(' ', end = '')
    print()

*****
 ****
  ***
   **
    *

In [49]:
for i in reversed(range(5)):
    for j in range(5):
        if j >= i :
            print('*', end = '')
        elif j < i :
            print(' ', end = '')
    print()

    *
   **
  ***
 ****
*****

In [50]:
for i in range(5):
    for j in range(5):
        if j <= i :
            print('*', end = '')
    print()

*
**
***
****
*****

In [51]:
for i in reversed(range(5)):
    for j in range(5):
        if j <= i :
            print('*', end = '')
    print()

*****
****
***
**
*

In [52]:
for i in range(5):
    for j in range(5):
        if j == i :
            print('*', end = '')
        else :
            print(' ', end = '')
    print()

*
 *
  *
   *
    *

In [53]:
for i in reversed(range(5)):
    for j in range(5):
        if j == i :
            print('*', end = '')
        else :
            print(' ', end = '')
    print()

    *
   *
  *
 *
*

In [58]:
a = int(input())
for i in (range(a)):
    for j in reversed(range(a)):
        if j > i :
            print(' ', end = '')
        else :
            print('*', end = '')
    for j in range(a) :
        if j < i :
            print('*', end = '')
    print()

5
    *
   ***
  *****
 *******
*********